html, body {
    margin: 0;
    height: 100%;
}
.container {
    padding-top: 38px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.harto{
  height: 100%;
  .dropzone-wrapper{
    text-align: center;
    width: 80%;
    margin-top: 1em;
    .dropzone{
      margin-top: 1em;
    }
    .btn-upload{
      margin-top: 1em;
    }
  }
  .result-label{
    margin-top: 2em;
  }
}
