html, body {
  margin: 0;
  height: 100%;
}
.container {
  padding-top: 38px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.harto{
  height: 100%;
}

.harto .dropzone-wrapper{
  text-align: center;
  width: 80%;
  margin-top: 1em;
}
.harto .dropzone{
  margin-top: 1em;
}

.harto .btn-upload{
  margin-top: 1em;
}

.harto .result-label{
  margin-top: 2em;
}
